@import "src/assets/styles/colors";

.drawer-login {
  display: none;
}
.drawer-pages {
  color: black;
  text-decoration: none;
  margin-bottom: 2rem;
}
.drawer-logo {
}
.drawer-container {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drawer-page-selected {
  color: $primaryColor;
}
